.indi {
    width: 70%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    .flex-display {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;

        .box {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .poly-color {
            background-color: #324851;
        }

        .line-color {
            background-color: #86AC41;
        }

        .multiline-color {
            background-color: #34675C;
        }

        .point-color {
            background-color: #7DA3A1;
        }
    }
}